.chatLogList {
  width: 100%;
}

.chatInput {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 14px;
  width: 92%;
  height: 5%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.contentInput {
  flex-grow: 4;
  border: 1px #d2daff solid;
  border-radius: 12px;
  padding-left: 10px;
}
.contentSubmit {
  flex-grow: 1;
  font-size: 22px;
  color: white;
  background-color: #b1b2ff;
  border: none;
  border-radius: 12px;
}
