.bubble {
  width: 60%;
  padding: 6px;
  margin: 8px;
  border-radius: 5px;
  display: flexbox;
}

.bubble.me {
  background-color: #6f90f2;
  text-align: right;
  margin-left: auto;
}
.bubble.you {
  background-color: #b5b5b5;
}

.time {
  font-size: 10px;
  color: #555555;
}
