.btnMake {
  background-color: #b1b2ff;
  color: white;
  width: 58px;
  height: 58px;
  border-radius: 28px;
  border: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 40px;
}

.chatList {
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.chatList::-webkit-scrollbar {
  display: none;
}
