.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  margin-top: 5px;
  padding-left: 8px;
  font-size: 28px;
  font-weight: bold;
}
.top.unseen {
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  margin-top: 5px;
  padding-left: 8px;
  font-size: 28px;
  font-weight: bold;
}

.back {
  background-color: white;

  font-weight: bold;
  border: none;
  margin: 8px;
}
.back.unseen {
  display: none;
}

.headerTitle {
  padding-left: 18px;
  margin: 8px;
  font-weight: 500;
}
.headerTitle.unseen {
  margin-right: 106px;
}
.headerTitle.myPages.unseen {
  margin-right: 126px;
}

.options {
  display: flex;
  justify-content: right;
  width: 80px;
  text-align: right;
}
.options.unseen {
  display: none;
}
