.inputContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px 8px;
  margin: 6px;
}

.inputLabel {
  padding: 2px;
  padding-left: 8px;
  font-size: 16px;
  font-family: GmarketSansMedium;
}
.inputBox {
  height: 36px;
  width: 96%;
  border-radius: 16px;
  border: 1px #d2daff solid;
  padding-left: 10px;
}
