.titleLogo {
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  color: #b1b2ff;
  font-size: 35vh;
}

.loginForm {
  height: 45vh;
  padding: 10px;
  text-align: center;
}

.signText {
  font-weight: bold;
  font-size: 20px;
  padding: 14px;
}

.loginBox {
  text-align: left;
}
.labelText {
  padding-left: 16px;
  font-size: 12px;
  font-weight: 500;
}
.loginID {
  height: 8%;
  width: 90%;
  padding: 8px;
  margin: 4px;
  border-radius: 16px;
  border: 1px #9f9f9f solid;
}
.loginPwd {
  height: 8%;
  width: 90%;
  padding: 8px;
  margin: 4px;
  border-radius: 16px;
  border: 1px #9f9f9f solid;
}

.loginSubmit {
  height: 12%;
  width: 90%;
  padding: 8px;
  margin: 4px;
  border-radius: 16px;
  border: none;
  background-color: #b1b2ff;
  color: white;
  font-weight: bold;
}

.signUpBox {
  padding: 8px;
}
.signUpBtn {
  border: none;
  background-color: white;
  color: #aac4ff;
  text-decoration: underline;
}
