.EditBtn {
  margin: 0px 10px;
  width: 95%;
  height: 38px;
  background-color: #b1b2ff;
  color: white;
  border: none;
  font-size: 24px;
  border-radius: 16px;
  padding-top: 10px;
  font-family: GangwonEduPowerExtraBoldA;
}
